* {background-color: darkseagreen;
margin: 1%;}

.lists {
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 1fr 2fr;
}

#mushroom-picture {
    grid-column: 2;
    grid-row: 2;
    margin-left: 10%;
    margin-bottom: 5%;
    margin-top: 5%;
    height: 350px;
border-radius: 85%;
border-color: black;
border-style: groove;}

.headings {font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: azure;
background-blend-mode: soft-light;
padding: 2%;}

p {text-align: center;}

a {font-family:Georgia, 'Times New Roman', Times, serif;
font-size: x-small;}
ul {grid-column: 2;
    grid-row: 1;
    color: bisque;
padding-top: 1%;
padding-bottom: 3%;
}
ol {grid-column: 1;
    grid-row: 1;
    color: cornflowerblue;
padding-left: 15%;
padding-right: 8%;}
ol:hover {background-color: chartreuse;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}

